{% extends "tools/base.html" %}

{% block head_content %}
    <title>Dictionary - VishwaSetu</title>
{% endblock head_content %}
{% block container %}

    <h1 class="text-center mt-2 mb-2">शब्दकोश</h1>
    
    <form method="POST">
        {% csrf_token %}
        {% for input in form %}
            <div class="form-group">
                {{input}}
            </div>
            <div class="invalid-feedback">
                {% for error in input.errors %}{{ error }}{% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-outline-success btn-block mt-5"><i class="lead">Submit</i></button>	
        
        {% if result %}
        <h4 style="margin-top: 50px;">Result</h4>

        <textarea style="padding: 10px; margin-top: 5px;width: 100%; max-width: 100%;" id="res">{{ result }}
        </textarea>
    
        {% endif %}

    </form>


{% endblock container %}