{% extends "base.html" %}
{% load static %}

{% block head_content %}
    <title>Learning Tools - VishwaSetu</title>
{% endblock head_content %}

{% block container %}
<head>
</head>

<div class="container">
    <div class="list-group p-5">
    <a href="/tools/dictionary" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
            <div class="col-sm-5">
                <iframe width="100%s" src="https://www.youtube.com/embed/oKLcYDw0YGM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-sm-5">
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1">Learn The Alphabet</h3>
                </div>
                <p class="mb-5"></p>
            </div>
        </div>
        
    </a>
    <a href="/tools/sandhi" class="list-group-item list-group-item-action flex-column align-items-start">

        <div class="row">
            <div class="col-sm-5">
                <iframe width="100%" src="https://www.youtube.com/embed/h1_3TnyHmBE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
            <div class="col-sm-5">
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1">SamvadMala - Conversing in Sanskrit</h3>
                </div>
                <p class="mb-5"></p>
            </div>
        </div>
    </a>
    <a href="/tools/sandhi-splitter" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
            <div class="col-sm-5">
             <iframe width="100%" src="https://www.youtube.com/embed/cubtefu3Ijs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
            <div class="col-sm-5">
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1">Beaty of Sanskrit</h3>
                </div>
                <p class="mb-5"></p>
            </div>
        </div>
    </a>
    <a href="/tools/resources" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
            <div class="col-sm-5">
                <img src="https://img.icons8.com/ios-filled/80/000000/new-year-calendar.png"/>
            </div>
            <div class="col-sm-5">
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1"></h3>
                </div>
                <p class="mb-5">More content coming soon...</p>
            </div>
        </div>
    </a>
    </div>
</div>


{% endblock %}

